@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./prism.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-padding-top: 80px; /* Adjust this value based on your navbar height */
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Smooth section transitions */
.section-gradient {
  position: relative;
}

.section-gradient::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 120px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    transparent,
    #0f0f0f
    pointer-events:none);
}